body {
  background: #162944;
}

#game-board {
  border: 2px solid rgb(216, 2, 134);
  width: 300px;
  height: 600px;
  margin: 50px auto;
}

.block {
  width: 30px;
  height: 30px;
  float: left;
}

@media only screen and (max-device-width: 760px) {
  #game-board {
    width: 600px;
    height: 1200px;
    margin-top: 100px;
  }

  .block {
    width: 60px;
    height: 60px;
  }
}

.btns-container {
  text-align: center;
}

.down-rotate {
  display: block;
  margin: 0 auto;
}

.button_slide {
  color: #FFF;
  border: 2px solid rgb(216, 2, 134);
  background: #162944;
  border-radius: 0px;
  padding: 18px 36px;
  margin-top: 10px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #D80286;
}